.license-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 550px;
}

.license-info_container {
    height: 80%;
    width: 80%;
    background-color: #E59F66;
}
